.todo-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
}

ul.todo-list {
  margin-top: 10px;
}
.badge.badge-dark {
  background: red;
  float: right;
  cursor: pointer;
}

a:hover {
  color: none;
}

.input-group-text{
  cursor: pointer;  
}

.todo-header {
  text-align: center;
}