.todo-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
}

ul.todo-list {
  margin-top: 10px;
}

.badge{
  float: right;
  cursor: pointer;
}

.badge-del {
  background: red;
}

.badge-update{
  background: blue;
  margin-left: 3px;
}

a:hover {
  color: none;
}

.input-group-text{
  cursor: pointer;  
}

.todo-header {
  text-align: center;
}